.default {
  --background: oklch(1 0 0);
  --foreground: oklch(0.1363 0.0364 259.201);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1363 0.0364 259.201);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1363 0.0364 259.201);
  --primary: oklch(0.6534 0.1241 268.2436);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.9683 0.0069 247.8956);
  --secondary-foreground: oklch(0.2077 0.0398 265.7549);
  --muted: oklch(0.9842 0.0034 247.8575);
  --muted-foreground: oklch(0.5544 0.0407 257.4166);
  --accent: oklch(0.9683 0.0069 247.8956);
  --accent-foreground: oklch(0.2077 0.0398 265.7549);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.9288 0.0126 255.5078);
  --input: oklch(0.9288 0.0126 255.5078);
  --ring: oklch(0.5106 0.2301 276.9656);
  --chart-1: oklch(0.5106 0.2301 276.9656);
  --chart-2: oklch(0.7853 0.1041 274.7134);
  --chart-3: oklch(0.7729 0.1535 163.2231);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.7106 0.1661 22.2162);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.3717 0.0392 257.287);
  --sidebar-primary: oklch(0.5106 0.2301 276.9656);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.9299 0.0334 272.7879);
  --sidebar-accent-foreground: oklch(0.3588 0.1354 278.6973);
  --sidebar-border: oklch(0.9288 0.0126 255.5078);
  --sidebar-ring: oklch(0.5106 0.2301 276.9656);
  --font-sans: Roboto, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Alegreya, ui-serif, serif;
  --font-mono: Courier Prime, ui-monospace, monospace;
  --radius: 0.6rem;
  --shadow-2xs: 0px 4px 43px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 0px 4px 43px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 0px 4px 43px 0px hsl(0 0% 0% / 0.03),
    0px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 0px 4px 43px 0px hsl(0 0% 0% / 0.03),
    0px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 0px 4px 43px 0px hsl(0 0% 0% / 0.03),
    0px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 0px 4px 43px 0px hsl(0 0% 0% / 0.03),
    0px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 0px 4px 43px 0px hsl(0 0% 0% / 0.03),
    0px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 0px 4px 43px 0px hsl(0 0% 0% / 0.07);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.default.dark {
  --background: oklch(0.1763 0.014 258.3572);
  --foreground: oklch(0.9288 0.0126 255.5078);
  --card: oklch(0.2138 0.0298 263.6378);
  --card-foreground: oklch(0.9288 0.0126 255.5078);
  --popover: oklch(0.2202 0.0157 256.8163);
  --popover-foreground: oklch(0.9288 0.0126 255.5078);
  --primary: oklch(0.6534 0.1241 268.2436);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.33 0.0149 252.3099);
  --secondary-foreground: oklch(0.9288 0.0126 255.5078);
  --muted: oklch(0.2666 0.015 256.7978);
  --muted-foreground: oklch(0.7107 0.0351 256.7878);
  --accent: oklch(0.33 0.0149 252.3099);
  --accent-foreground: oklch(0.9288 0.0126 255.5078);
  --destructive: oklch(0.7106 0.1661 22.2162);
  --destructive-foreground: oklch(0.2202 0.0157 256.8163);
  --border: oklch(0.33 0.0149 252.3099);
  --input: oklch(0.2666 0.015 256.7978);
  --ring: oklch(0.5854 0.2041 277.1173);
  --chart-1: oklch(0.5854 0.2041 277.1173);
  --chart-2: oklch(0.4568 0.2146 277.0229);
  --chart-3: oklch(0.7729 0.1535 163.2231);
  --chart-4: oklch(0.8369 0.1644 84.4286);
  --chart-5: oklch(0.7106 0.1661 22.2162);
  --sidebar: oklch(0.2138 0.0298 263.6378);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.5067 0.2767 263.6705);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.6534 0.1241 268.2436);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.2804 0.0198 264.1821);
  --sidebar-ring: oklch(0.5854 0.2041 277.1173);
  --font-sans: Roboto, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Alegreya, ui-serif, serif;
  --font-mono: Courier Prime, ui-monospace, monospace;
  --radius: 0.6rem;
  --shadow-2xs: 0px 5px 43px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 0px 5px 43px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 0px 5px 43px 0px hsl(0 0% 0% / 0.03),
    0px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 0px 5px 43px 0px hsl(0 0% 0% / 0.03),
    0px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 0px 5px 43px 0px hsl(0 0% 0% / 0.03),
    0px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 0px 5px 43px 0px hsl(0 0% 0% / 0.03),
    0px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 0px 5px 43px 0px hsl(0 0% 0% / 0.03),
    0px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 0px 5px 43px 0px hsl(0 0% 0% / 0.07);
}
body {
  letter-spacing: var(--tracking-normal);
}
